html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto; 
}

h2{
    text-align: center;
}

header{
    display: flex;
    border: black solid 3px;
    background-color: gray;
}

nav{
    list-style: none;
}

a{
    text-decoration: none;
}

.titulo{
    text-align: center;
}

li{
    font-size: 50px;
    color: blue;
}

#imagens{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.imagem{
    height: 200px;
    width: 355px;
}

#footer {
    display: flex;
    background-color: green;
    width: 100%;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    box-sizing: border-box;
}

.titulo_footer{
    text-align: center;
    color: white;
}

.img-git{
    height: 60px; 
    width: 60px;
}

.git{
    display: flex;
    align-items: start;
    align-items: center;
    max-width: 100%;
}

.link{
    margin: 10px;
    border-radius: 5px;
    background-color: blue;
    padding: 10px 20px;
    font-size: 25px;
    color: white;
}

.adicionar-item{
    display: flex;
    margin: 2px;
    align-items: center;
}

#itemInput {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

#listaItens li {
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

#tabelaDeDados{
    border: 1px solid black;
}